In [1]:
#Menyertakan Prefix dan Suffix pada seluruh Kolom Data Frame
#LeonyCornelia-2373002

In [4]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

In [6]:
#Persiapan Data Frame
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size = (n_rows, n_cols)), 
                  columns = cols)
df

   A  B  C  D  E
0  4  1  4  3  3
1  1  2  3  4  6
2  5  4  2  9  8
3  2  3  4  4  2
4  7  5  2  4  2

In [8]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [10]:
#Menyertakan Prefix Kolom
df.add_prefix('kolom')

   kolomA  kolomB  kolomC  kolomD  kolomE
0       4       1       4       3       3
1       1       2       3       4       6
2       5       4       2       9       8
3       2       3       4       4       2
4       7       5       2       4       2