In [2]:
#Menghapus Missing Values 
#LeonyCornelia-2373002

In [18]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

In [25]:
#Persiapan Data Frane
n_rows = 30
n_cols = 4
cols = ['A', 'B', 'C', 'D']

df = pd.DataFrame(np.random.randn(n_rows, n_cols), columns=cols)

nan_mask = np.random.rand(n_rows, n_cols) < 0.2
df[nan_mask] = np.nan

df = df.reset_index()
df.head()

   index         A         B         C         D
0      0  0.164533 -1.319054  0.727624 -0.607114
1      1 -0.829326 -0.027170 -1.119755       NaN
2      2 -1.708839  0.150121 -1.080693       NaN
3      3 -0.363840 -1.721569 -0.910821 -0.524208
4      4 -1.364775 -1.138497  0.501568  0.972616

In [27]:
df = df.rename(columns={'index':'Z'})
df.head()

   Z         A         B         C         D
0  0  0.164533 -1.319054  0.727624 -0.607114
1  1 -0.829326 -0.027170 -1.119755       NaN
2  2 -1.708839  0.150121 -1.080693       NaN
3  3 -0.363840 -1.721569 -0.910821 -0.524208
4  4 -1.364775 -1.138497  0.501568  0.972616

In [31]:
df_backup = df.copy(deep = True)

In [35]:
#Menghapus (drop) Setiap Kolom Yang Mengandung Missing Values
df = df.dropna(axis = 'columns') 
df.head()

   Z
0  0
1  1
2  2
3  3
4  4

In [37]:
#Menghapus(drop) Setiap Baris Yang Mengandung Missing Vlues
df = df_backup.copy(deep = True)
df = df.dropna(axis = 'rows')
df.head()

   Z         A         B         C         D
0  0  0.164533 -1.319054  0.727624 -0.607114
3  3 -0.363840 -1.721569 -0.910821 -0.524208
4  4 -1.364775 -1.138497  0.501568  0.972616
5  5 -1.625038  0.382098  0.227755  0.146036
6  6  0.272142 -0.406990  2.341393  0.203002

In [39]:
#Persentase Missing Values Untuk Setiap Kolom
df = df_backup.copy(deep = True)
df.isna().mean()

Z    0.000000
A    0.133333
B    0.166667
C    0.100000
D    0.300000
dtype: float64

In [43]:
#Menghapus (drop) Setiap Kolom Yang Mengandung Missing Values Berdasarkan Threshold
treshold = len(df) * 0.9
df = df.dropna(thresh = treshold, axis = 'columns')
df.head()

   Z         C
0  0  0.727624
1  1 -1.119755
2  2 -1.080693
3  3 -0.910821
4  4  0.501568