In [2]:
#Memeriksa Kesamaan Antar Dua Buah Kolom (Series) Pada Data Frame 
#LeonyCornelia-2373002

In [6]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

In [8]:
#Persiapan Data Frame
data = {'A':[15, 15, 18, np.nan, 12], 
        'B':[15, 15, 18, np.nan, 12]}

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

In [12]:
#Mengenal Pandas Series
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [14]:
type(df['A'])

pandas.core.series.Series

In [16]:
type(df)

pandas.core.frame.DataFrame

In [18]:
#Memeriksa Kesamaan Dengan Operator == 
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [20]:
#Memeriksa Kesamaan Dengan Method Equals()
df['A'].equals(df['B'])

True

In [22]:
#Memeriksa Kesamaan Antar Dua Data Frame
df1 = df.copy(deep = True)

df.equals(df1)

True

In [24]:
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True