In [2]:
#Resamping Data Deret Waktu (Time Series Data)
#LeonyCornelia-2373002

In [6]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

In [12]:
#Persiapan Data Frame
n_rows = 365 * 24 
n_cols = 2         
cols = ['col1', 'col2'] 

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df.index = pd.date_range(start='2023-01-01', periods=n_rows, freq='H')

df.head()

                     col1  col2
2023-01-01 00:00:00     3    19
2023-01-01 01:00:00    15     3
2023-01-01 02:00:00    17     7
2023-01-01 03:00:00    13    16
2023-01-01 04:00:00    14    15

In [14]:
#Resampling Data Dengan Interval Monthly
df.resample('M')['col1'].sum().to_frame()

            col1
2023-01-31  7400
2023-02-28  6871
2023-03-31  7366
2023-04-30  7360
2023-05-31  7369
2023-06-30  7360
2023-07-31  7360
2023-08-31  7678
2023-09-30  7201
2023-10-31  7495
2023-11-30  7353
2023-12-31  7559

In [16]:
df.resample('M')['col1'].sum()

2023-01-31    7400
2023-02-28    6871
2023-03-31    7366
2023-04-30    7360
2023-05-31    7369
2023-06-30    7360
2023-07-31    7360
2023-08-31    7678
2023-09-30    7201
2023-10-31    7495
2023-11-30    7353
2023-12-31    7559
Freq: M, Name: col1, dtype: int64

In [18]:
#Resampling Data Dengan Interval Daily
df.resample('D')['col1'].sum().to_frame()

            col1
2023-01-01   222
2023-01-02   213
2023-01-03   238
2023-01-04   231
2023-01-05   232
...          ...
2023-12-27   268
2023-12-28   277
2023-12-29   206
2023-12-30   242
2023-12-31   197

[365 rows x 1 columns]