In [1]:
#Membentuk Dummy Data Frame
#LeonyCornelia-2373002

In [4]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

In [6]:
#Membentuk Data Frame Dari Dictionary
pd.DataFrame({'col1':[1, 2, 3, 4], 
              'col2':[5, 6, 7, 8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [8]:
#Membentuk Data Frame Dari Numpy Array
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size = (n_rows, n_cols))
arr

array([[ 6, 11, 17],
       [13, 14,  8],
       [18,  3, 11],
       [18, 13, 16],
       [ 1, 10, 11]])

In [10]:
pd.DataFrame(arr, columns = tuple('ABC'))

    A   B   C
0   6  11  17
1  13  14   8
2  18   3  11
3  18  13  16
4   1  10  11

In [14]:
#Membentuk Data Frame Dengan Memanfaatkan Pandas.Util.Testing
n_rows = 30 
n_cols = 4 
columns = list('ABCD')

data = np.random.randn(n_rows, n_cols)

df = pd.DataFrame(data, columns=columns)

print(df.head())

          A         B         C         D
0 -1.520489 -2.059323  1.681477  0.681286
1  0.381192 -1.017795 -2.169427  0.256907
2 -0.913183  0.514037 -0.924463  0.051908
3 -0.636977 -0.117661 -0.425222 -0.941938
4 -0.975206  0.545130  0.793909 -0.751898

In [16]:
n_rows = 5 

data = {
    'A': np.random.randn(n_rows),                 
    'B': np.arange(1, n_rows + 1),                
    'C': pd.date_range('2024-01-01', periods=n_rows), 
    'D': ['foo', 'bar', 'baz', 'qux', 'quux']    
}

df = pd.DataFrame(data)

print(df.head())

          A  B          C     D
0 -0.776326  1 2024-01-01   foo
1  0.008811  2 2024-01-02   bar
2 -1.362456  3 2024-01-03   baz
3  0.533414  4 2024-01-04   qux
4 -1.001550  5 2024-01-05  quux

In [18]:
n_rows = 30  
n_cols = 4   
columns = list('ABCD')  

time_index = pd.date_range(start='2024-01-01', periods=n_rows, freq='D')  

df = pd.DataFrame(np.random.randn(n_rows, n_cols), index=time_index, columns=columns)

print(df.head())

                   A         B         C         D
2024-01-01  0.502855 -1.361215  1.281505  0.457728
2024-01-02  0.789737  1.498851  0.509684  3.048230
2024-01-03  0.498208  0.550417 -0.837868 -0.091988
2024-01-04 -0.788017  1.244963 -0.099123  0.755365
2024-01-05  0.069186  0.705121 -0.895131 -0.337494

In [20]:
n_rows = 5
n_cols = 4

data = np.random.randn(n_rows, n_cols)

df = pd.DataFrame(data, columns=list('ABCD'))

df.iloc[0, 1] = np.nan
df.iloc[2, 3] = np.nan
df.iloc[4, 0] = np.nan

print(df.head())

          A         B         C         D
0  1.538261       NaN  0.921691  0.413445
1 -1.612203 -0.203888  1.656269  1.264637
2 -0.164349 -2.093056  0.925393       NaN
3  0.429907 -0.025969 -0.271667 -0.285283
4       NaN  0.665796 -0.723616  0.232377