In [2]:
#Seleksi Baris Pada Data Frame Dengan Query()
#LeonyCornelia-2373002

In [8]:
import pandas as pd

print(pd.__version__)

2.1.4

In [10]:
#Persiapan Data Frame
d = {'kolom_satu':[1, 2, 3, 4, 5], 
     'kolom dua':[10, 20, 30, 40, 50]}
df = pd.DataFrame(d)
df

   kolom_satu  kolom dua
0           1         10
1           2         20
2           3         30
3           4         40
4           5         50

In [12]:
#Seleksi Baris Dengan Query()
df.query('kolom_satu > 2')

   kolom_satu  kolom dua
2           3         30
3           4         40
4           5         50

In [14]:
df.query('`kolom dua` > 30')

   kolom_satu  kolom dua
3           4         40
4           5         50