In [1]:
#Mengenal Fungsi Agregasi First() dan Last()
#LeonyCornelia-2373002

In [4]:
import pandas as pd

print(pd.__version__)

2.1.4

In [6]:
#Persiapan Dat Frame
d = {'dokter':['Budi', 'Wati', 'Iwan', 'Budi', 'Budi', 'Wati'], 
     'pasien':['Abdul', 'Rahmat', 'Asep', 'Joko', 'Wiwin', 'Lisa']}

df = pd.DataFrame(d)
df

  dokter  pasien
0   Budi   Abdul
1   Wati  Rahmat
2   Iwan    Asep
3   Budi    Joko
4   Budi   Wiwin
5   Wati    Lisa

In [8]:
#Mengenal Fungsi Agregasi First() dan Last()
df.groupby('dokter')['pasien'].count().to_frame()

        pasien
dokter
Budi         3
Iwan         1
Wati         2

In [10]:
df.groupby('dokter')['pasien'].first().to_frame()

        pasien
dokter
Budi     Abdul
Iwan      Asep
Wati    Rahmat

In [12]:
df.groupby('dokter')['pasien'].last().to_frame()

       pasien
dokter
Budi    Wiwin
Iwan     Asep
Wati     Lisa