In [4]:
#Seleksi Weekdays dan Weekends Pada Deret Waktu (Time Series)
#LeonyCornelia-2373002

In [7]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

In [9]:
#Persiapan Data Frame
n_rows = 365
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df.index = pd.date_range(start='2024-01-01', periods=n_rows, freq='D')

print(df)

            col1  col2
2024-01-01    17     2
2024-01-02    15    19
2024-01-03     2    10
2024-01-04    15    11
2024-01-05     5     2
...          ...   ...
2024-12-26    11     1
2024-12-27     1    19
2024-12-28     9     6
2024-12-29    15    13
2024-12-30     3    13

[365 rows x 2 columns]

In [13]:
#Seleksi Weekdays dan Wekeends
weekdays_df = df[df.index.dayofweek.isin([0, 1, 2, 3, 4])]
weekdays_df.head(7)

            col1  col2
2024-01-01    17     2
2024-01-02    15    19
2024-01-03     2    10
2024-01-04    15    11
2024-01-05     5     2
2024-01-08    19     5
2024-01-09    11    18

In [15]:
weekends_df = df[df.index.dayofweek.isin([5, 6])]
weekends_df.head(7)

            col1  col2
2024-01-06    17    14
2024-01-07    11    16
2024-01-13     9     4
2024-01-14    17     3
2024-01-20    15     2
2024-01-21     1     1
2024-01-27     5     8