In [3]:
#Deteksi dan Penanganan Kolom Dengan Tipe Data Beragam (Mixed dan Types)
#LeonyCornelia-2373002

In [6]:
import pandas as pd

print(pd.__version__)

2.1.4

In [8]:
#Persiapan Data Frame
d = {'nama':['bejo', 'tejo', 'wati', 'tiwi', 'cecep'], 
     'ipk':[2, '3', 3, 2.75, '3.25']}
df = pd.DataFrame(d)
df

    nama   ipk
0   bejo     2
1   tejo     3
2   wati     3
3   tiwi  2.75
4  cecep  3.25

In [12]:
#Deteksi dan Penanganan Kolom Dengan Tipe Data Beragam (Mixed dan Types)
df.dtypes

nama    object
ipk     object
dtype: object

In [14]:
df['ipk'].apply(type)

0      <class 'int'>
1      <class 'str'>
2      <class 'int'>
3    <class 'float'>
4      <class 'str'>
Name: ipk, dtype: object

In [16]:
df['ipk'].apply(type).value_counts()

ipk
<class 'int'>      2
<class 'str'>      2
<class 'float'>    1
Name: count, dtype: int64

In [22]:
df['ipk'] = df['ipk'].astype(float)

In [24]:
df['ipk'].apply(type).value_counts()

ipk
<class 'float'>    5
Name: count, dtype: int64