In [ ]:
#Menghitung Jumlah Baris Menurut Kriteria Tertentu
#LeonyCornelia-2373002

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

In [5]:
#Persiapan Data Frame
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  4  4  6  1  6
1  2  6  7  5  1
2  4  3  3  1  6
3  2  4  7  6  4
4  1  2  8  3  2
5  2  5  5  8  9
6  2  5  3  7  6
7  1  7  7  1  8
8  7  6  6  5  2
9  9  4  6  7  2

In [7]:
#Menghitung Jumlah Baris
(df['A'] < 5).sum()

8

In [9]:
(df['A'] < 5).mean()

0.8